# maven build folder
target/

# temporary node build folder
node_modules/
node/

# uncomment to ignore IntelliJ project content
#.idea

# uncomment to ignore Eclipse project content
#.project
#.settings/